*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6rem 1fr 6rem;
      grid-template-rows: 6rem 1fr 6rem;
      grid-template-areas: "header" "main" "footer";
  height: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #232f3e;
  color: white;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #232f3e;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

hr {
  margin: 0 auto;
  width: 95%;
}

input[type] {
  border: none;
  outline: none;
  padding: 0rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 100%;
  letter-spacing: 0.01rem;
}

input[type]::-webkit-input-placeholder {
  color: #b1b1b1;
  letter-spacing: 0.01rem;
}

input[type]:-ms-input-placeholder {
  color: #b1b1b1;
  letter-spacing: 0.01rem;
}

input[type]::-ms-input-placeholder {
  color: #b1b1b1;
  letter-spacing: 0.01rem;
}

input[type]::placeholder {
  color: #b1b1b1;
  letter-spacing: 0.01rem;
}

button {
  cursor: pointer;
  outline: transparent;
  border: transparent;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-fluid {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

nav .overlay {
  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.329);
  visibility: hidden;
  z-index: 995;
}

nav .overlay.open {
  visibility: visible;
}

nav .logo {
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .logo:hover {
  color: #ff9900;
}

nav .menu-icon {
  cursor: pointer;
}

nav .menu-icon > span {
  display: block;
  -webkit-transform-origin: 0.3rem;
          transform-origin: 0.3rem;
  width: 2.5rem;
  height: 0.2rem;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .menu-icon > span:not(:last-child) {
  margin-bottom: 0.5rem;
}

nav .menu-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .menu-icon.open span:nth-child(2) {
  opacity: 0;
}

nav .menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  nav {
    position: relative;
  }
  nav .overlay {
    display: none;
  }
  nav .menu-icon {
    display: none;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 6rem;
  right: 0;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  z-index: 999;
  -webkit-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #fcfcfc;
}

.navbar .navbar-item {
  padding: 1rem 1.5rem;
  border-left: 0rem solid grey;
  background-color: #ececec;
  width: 100%;
  color: #232f3e;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.navbar .navbar-item:hover {
  border-left: 1rem solid grey;
  background-color: #d4d4d4;
}

.navbar .navbar-item .navbar-link {
  letter-spacing: 0.01rem;
  font-weight: 400;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.navbar.open {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 1024px) {
  .navbar {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-color: transparent;
  }
  .navbar .navbar-item {
    padding: 0rem;
    border-left: 0rem solid grey;
    width: auto;
    background-color: transparent;
    color: white;
    margin-left: 2rem;
  }
  .navbar .navbar-item:hover {
    border-left: 0rem solid grey;
    background-color: transparent;
  }
  .navbar .navbar-item .active-link {
    color: #ff9900;
  }
  .navbar .navbar-item .navbar-link:hover {
    color: #ff9900;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 500;
  height: 6rem;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.search-section .logo-page {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.search-section .logo-page img {
  width: 100%;
  height: 100%;
  max-width: 12rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-section .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 4rem;
}

.search-section .search-bar input[type] {
  height: 100%;
  padding: 0rem 1rem;
  background-color: #f7f7f7;
  color: grey;
  font-weight: 300;
  border-radius: 5px;
}

.search-section .search-bar .button-search {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #bd3f3d;
  color: white;
  height: 100%;
}

.search-section .search-bar .button-search .icon {
  font-size: 2rem;
  font-weight: 500;
}

.result-comp {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: rgba(243, 242, 242, 0.753);
}

.result-comp .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.result-comp .labels .search-res-text {
  opacity: 0;
}

.result-comp .labels .search-res-text.open {
  opacity: 1;
}

.result-comp h1 {
  margin-top: 2rem;
  color: grey;
}

.result-comp .icon {
  font-size: 30rem;
  color: grey;
}

.result-comp .artist-list {
  width: 100%;
}

.result-comp .artist-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin: 0.5rem 0;
  padding: 1rem;
  border-left: 0rem solid gray;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.result-comp .artist-list li:hover {
  border-left: 1rem solid gray;
  background-color: rgba(212, 211, 211, 0.418);
}

.result-comp .artist-list li .artist-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
}

.short-list-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.685);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.short-list-modal .close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
}

.short-list-modal .close-btn .close-icon {
  font-size: 3.5rem;
}

.short-list-modal .empty-div {
  background-color: whitesmoke;
  padding: 5rem;
  border-radius: 0.5rem;
}

.short-list-modal .action-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

.short-list-modal .action-labels .artist-name {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.short-list-modal .fav-artist-list {
  overflow-y: scroll;
  width: 80%;
  max-height: 50%;
  background-color: whitesmoke;
}

.short-list-modal .fav-artist-list::-webkit-scrollbar {
  display: none;
}

.short-list-modal .fav-artist-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 01rem 2rem;
  margin: 0.5rem 0;
  background-color: white;
  border-left: 0rem solid gray;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.short-list-modal .fav-artist-list li:hover {
  border-left: 1rem solid gray;
  background-color: rgba(212, 211, 211, 0.418);
}

.short-list-modal .fav-artist-list li .fav-artist-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.favourites {
  margin: 1rem 0;
}

.favourites .fav-logo {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.favourites .fav-article p {
  margin: 1rem 0;
}

.favourites .fav-article ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: rgba(212, 211, 211, 0.418);
  border-left: 0rem solid gray;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.favourites .fav-article ul li:hover {
  background-color: #d6d6d6;
  border-left: 1rem solid gray;
}

.favourites .fav-article ul li .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
}

.favourites .fav-article ul li .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 01rem;
}

.favourites .empty-text-fav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 50vh;
  color: gray;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.01rem;
}

.mb-result-comp {
  width: 100%;
}

.mb-result-comp .artist-list {
  width: 100%;
}

.mb-result-comp .artist-list li {
  width: 100%;
  background-color: rgba(212, 211, 211, 0.418);
}

.mb-result-comp .artist-list li .list-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  background-color: rgba(212, 211, 211, 0.418);
  margin: 0.5rem 0;
  padding: 1rem;
  border-left: 0rem solid gray;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.mb-result-comp .artist-list li .list-info:hover {
  border-left: 1rem solid gray;
  background-color: rgba(211, 211, 211, 0.76);
}

.mb-result-comp .artist-list li .list-info .artist-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
}

.mb-result-comp .artist-list li .list-info .btn {
  background-color: white;
}

.fav-article li {
  width: 100%;
  background-color: rgba(212, 211, 211, 0.418);
}

.fav-article li .list-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  background-color: rgba(212, 211, 211, 0.418);
  margin: 0.5rem 0;
  padding: 1rem;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.fav-article li .list-info:hover {
  background-color: rgba(211, 211, 211, 0.76);
}

.fav-article li .list-info .artist-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
}

.fav-article li .list-info .btn {
  background-color: white;
}
/*# sourceMappingURL=index.css.map */