// colors

$main-black: hsl(213, 27, 19);
$main-white: white;
$main-orange: hsl(36, 100, 50);

// fonts

$fs-default: 1.6rem;
$fs-sm: 1.2rem;
$fs-lg: 1.8rem;

// spacing

$letter-space: 0.01rem;

// transition

$transition300: 300ms;
$transition500: 500ms;
